---

import MainLayout from "@/layouts/main-layout.astro";
import PageHeader from "@/components/page-header.astro";
import ExampleGrid from "@/components/example-grid.astro";
import { navMenuConfig } from "@/config/nav-menu";

const pages = navMenuConfig.pagesNav[0].items;
---

<MainLayout title="">
	<div class="bg-background-200">
		<section class="container py-12">
		  <PageHeader
			heading="Discovery"
			text="Differents pages and examples apps built with Astro v4.5, shadcn/ui & react js. Fully Open Source."
		  />

		  <ExampleGrid title="Pages" items={pages} />

		</section>
	  </div>
	</MainLayout>
