---
import Wrapper from '../components/wrapper.astro'
---

<Wrapper title = "Prashnat Basnet">
    <h3> this is a child from my page </h3>
    <p> learning to pass child to astro cmp using slot </p>
</Wrapper>