---

import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import Header from '@/components/layout/header.astro';
import Footer from "@/components/Footer.astro";
// import { marketingConfig } from "@/config/marketing";
// import MainNav from "@/components/layout/main-nav.astro";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>

  <!-- Setting up Header -->
  <Header className="border-b">
  </Header>

    <main class={cn(mainClass)}>
    <slot />
  </main>
  <Footer/>

</BaseLayout>
